body {
  text-align: center;
  background-image: url("lava.jpg");
  font-family: "Verdana";
  font-size: 30px;
}

.header {
  font-size: 80px;
  color: white;
  margin-top: 50px;
    -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color: black;
}

.container {
  background-color: #333333;
  color: white;
  margin: 20px 100px 100px 100px;
}

.scoreboard {
  text-align: left;
  display:block;
  float: left;
}

.slider {
  float: right;
  width: 49%;
  margin-top: 25px;
  margin-right: 10px;
}

.gameboard{
  height: 500px;
  width: 700px;
  text-align: bottom;
}

.enemy{
  fill:red;
}

.player{
  fill:white;
}
